/* 
 * Using the Responsive Grid System
 * http://www.responsivegridsystem.com/ 
 */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.4%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { 
	content:""; display:table; 
}

.group:after { 
	clear:both;
}

.group { 
	zoom:1; /* For IE 6/7 */ 
}

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 48%;
}
.span_1_of_4 {
	width: 23.8%;
}




body {
	font-family: helvetica, sans-serif;
}

a {
	color: black;
}

a:hover	{
	color: gray;
}

p {
	line-height: 20px;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 5px;

	margin-bottom: 10px;
	margin-top: 10px;
}




/*  HEADER  */
h1 {
	font-size: 4.5em;
	margin: 0;
}

.suffix {
	color: red;
	font-size: .85em;
}

.title {
  	display: inline;
}

#header-div {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;	
	color: white;

	margin-top: 180px;
	max-width: 1200px;
}

#header {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("dominion-box.jpg");

	display: block;
	float: left;
	height: 375px;
}




/*  DETAILS  */
#description {
	height: 200px;
	max-width: 600px;
}

#description-content {
	padding-top: 10px;
	padding-left: 65px;
	float: right;
}




/*  MAILCHIMP */
#signup-wrapper {
	height: 200px;
}

#mc_embed_signup {
	padding-left: 55px;
}




/*  FOOTER  */
hr {
	width: 60%;
}

.mail {
	text-decoration: underline;
}

#footer {
	text-align: center;
	font-size: 11;
	font-family: arial;

	max-width: 1200px;
}



/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }

	#header-div {  margin-top: 140px;}
	#header {  height: 275px;}
	h1 {  font-size: 3.25em;}
	.suffix {  font-size: .75em;}

	#description {  height: 150px;}
	#description-content {  float: none; }
	#signup-wrapper {  height: 150px; }
}

/* iPhone 6 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }

	#header-div {  margin-top: 100px;}
	#header {  height: 375px; width: 100%}
	h1 {  font-size: 6em;}
	.suffix {  font-size: .9em;}
	#subtitle { font-size: 12pt;}

	h3 { font-size: 2em;}

	p {line-height: 40px;}

	#description {  height: 400px; padding-left: 50px;}
	#description-content {  width: 800px; float: none; font-size: 2.5em;}

	#signup-wrapper {  height: 400px; padding-left: 50px;}
	#mc_embed_signup { font-size: 2.5em; }
	#mc_embed_signup .button {font-size:24px; height: 50px; line-height: 40px;}

	#footer { height: 100px; font-size: 1.5em;}
}